body {
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e7e9eb;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #14a000;
  display: block;
}

.sidenav a:hover {
  color: #818181;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* Style the search box */
#mySearch {
  margin-left: 0px;
  width: 142px;
  font-size: 15px;
  padding: 8px;
  border: 1px solid #000000;
}
#Menu {
  margin-left: 12px;
  width: 100%;
  font-size: 25px;
  color: #14a000;
}
#Tags {
  font-size: 20px;
  color: #14a000;
}
#Tags:hover {
  font-size: 20px;
  color: #14a000;
  background-color: #cccccc;
}